@import '~antd/es/style/themes/default.less';
@import '~antd/dist/antd.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;

        > span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}

.trigger {
  font-size: 20px;
  line-height: 60px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
  color: white;
}

.trigger:hover {
  color: #93c3f5;
}

.logo {
  height: 44px;
  background-color: #1890ff;
  line-height: 60px;
  padding-left: 20px;
  font-size: 18px;
  color: white;
  font-family: Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC,
  Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif,
  Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-weight: 600;
}

.site-layout {
  //background-color: #FFF;

  .site-layout-background {
    height: 44px;
    background-color: #36a2fb;
    //span {
    //  height: 42px;
    //}

  }
}
